################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyDriver2/v14
/MyDriver2.VC.VC.opendb
/MyDriver2.VC.db
/MyDriver2/Debug/MyDriver2.tlog
/MyDriver2/Debug
/Debug
